@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #010B1A;
    background-color: #efefef;
}

